@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300&display=swap');
body {
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  background-color:rgb(255, 140, 203);
}
button{
  background-color:#8a6fff;
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
}
button:hover{
  background-color:#3e3bff;
}




